/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Roboto', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-size: 18px;
    margin-bottom: 15px;
    font-family: 'Rubik', sans-serif;
}

p {
    line-height: 1.4;
}

/*Coding starts here*/


.container {
    width: 800px;
    margin: 0 auto;
}

header {
    display: inline-flex;
    flex-direction: row;
    width: 725px;
    margin-top: 2%;
    margin-left: 2%;
    justify-content: stretch;
    flex-wrap: nowrap;
}

#topNav {
    margin-top: 3%;
   display:flex;
   flex-direction: row;
}

#topNav a{
    padding: 0 39px;
    margin-left: 2%;
    text-decoration: none;
    font-size: 13px;
    color: black;
    width: 100%;
    justify-content: space-around;

}

#about-html {
font-weight: bolder;
}

#index-html:hover {
    color: rgb(179, 14, 14);
    font-size: 16px;
    font-weight: bolder;

}

#products-html:hover {
    color: rgb(179, 168, 28);
    font-size: 16px;
    font-weight: bolder;
}

#blog-html:hover {
    color: rgb(12, 99, 12);
    font-size: 16px;
    font-weight: bolder;
}

#contact-html:hover {
    color: rgb(13, 13, 138);
    font-size: 16px;
    font-weight: bolder;

}


.topImg {
    padding: 3% 0;


}

.aboutIntro {
    border-bottom: 1px dashed black;
    padding-bottom: 3%;
}

.topContent{
    display: flex;
    flex-direction: row;
    margin-top: 3%;
    justify-content: space-between;
    

}
.middleContent {
    display: flex;
    flex-direction: row;
    margin-top: 3%;
    justify-content: space-between;



}

.boxInfo{
    display: flex;
    flex-direction: column;
    width: 45%;
    border-bottom: 1px dashed black;
}

.boxInfo h5{
    margin-top:7% ;
}

.learn {
	margin-top: 5%;
	margin-left: 2%;
	margin-bottom: 6%;
	border:2px solid black;
    padding: 3% 0;
	text-align: center;
	font-size: 15px;
    font-weight: bold;
    float: left;
    letter-spacing: 1px;
	background-color: white;
    border-radius: 10px;
    width: 35%;
}

.bottomContent{
    margin-top: 5%;
}

footer {
    width: 100%;
    background: black;
    margin-top: 5%;  
}

footer nav {
    width: 60%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 2%;
    font-size: 14px;

}


footer nav a {
    color: white;
    text-decoration: none;
}