/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Roboto', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-size: 18px;
    margin-bottom: 15px;
    font-family: 'Rubik', sans-serif;
}

p {
    line-height: 1.4;
}

.container-contact {
    width: 800px;
    margin: 0 auto;

}

header {
    display: inline-flex;
    flex-direction: row;
    width: 725px;
    margin-top: 2%;
    margin-left: 2%;
    justify-content: stretch;
    flex-wrap: nowrap;
}

#topNav {
    margin-top: 3%;
   display:flex;
   flex-direction: row;
}

#topNav a{
    padding: 0 39px;
    margin-left: 2%;
    text-decoration: none;
    font-size: 13px;
    color: black;
    width: 100%;
    justify-content: space-around;

}

#contact-html {
    font-weight: bolder;
    }

#index-html:hover {
    color: rgb(179, 14, 14);
    font-size: 16px;
    font-weight: bolder;

}

#about-html:hover {
    color: rgb(218, 150, 25);
    font-size: 16px;
    font-weight: bolder;
}

#products-html:hover {
    color: rgb(179, 168, 28);
    font-size: 16px;
    font-weight: bolder;
}

#blog-html:hover {
    color: rgb(12, 99, 12);
    font-size: 16px;
    font-weight: bolder;
}



.topImg {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 200px;
    margin: 5% auto;
}

form {
    display: flex;
    flex-direction: column;
    padding: 5% 10%;
    border: 3px solid black;
    
}

h1 {
    font-size: 32px;
    text-decoration: overline underline;
    font-weight: bolder;
    margin-bottom: 5%;
}

.nameEntry, .emailEntry, .phoneEntry, .referalEntry, .otherEntry, .commetEntry {
    margin: 1% 0;
    display: flex;
    flex-direction: column;
    width: 50%;
}

.personalInfo {
    padding-bottom: 3%;
    display: flex;
    flex-direction: column;

}
.referalInfo {
    padding-bottom: 3%;
    display: flex;
    flex-direction: column;
}


label {
    margin-bottom: 3% ;
    font-weight: bold;
}

input {
    height: 28px;
}

select {
    height: 28px;
}

#referalOther {
    width: 100%;
}

.submitButton {
    width: 20%;
    height: 35px;
}


footer {
    width: 100%;
    background: black;
  
    
}

footer nav {
    width: 60%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 2%;
    font-size: 14px;

}


footer nav a {
    color: white;
    text-decoration: none;
}